<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840107202767-ealv3edekmfv8htihbnfe7s377ggavoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840107202767-ealv3edekmfv8htihbnfe7s377ggavoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840107202767-9cvnhn11rvrik857des20hvplitps4mp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBv7BP2423-hIurvaCkN69yfT1TsW14w3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>840107202767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corplandtechnologies.corpland</string>
	<key>PROJECT_ID</key>
	<string>corpland-app</string>
	<key>STORAGE_BUCKET</key>
	<string>corpland-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840107202767:ios:b96d78ff75f35e3d947fba</string>
</dict>
</plist>